/* CSS Comments are a little weird */
body {
    font-family: 'Courier New', Courier, monospace;
    padding: 30px;
    padding-bottom: 40px;
    background-color:rgb(178, 189, 201);
}
h1, footer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(0, 85, 255);
    text-decoration: none;
}
a:hover {
    color:black;
}
p {
    color:rgb(38, 35, 35) ;
}
blockquote {
    font-weight: bold;
    font-size: 20pt;
}